@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(font/Roboto-Light.woff2) format('woff2'), url(font/Roboto-Light.ttf) format('truetype');
    unicode-range: U+0030—003A;
}
@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(font/Roboto-Thin.woff2) format('woff2'), url(font/Roboto-Thin.ttf) format('truetype');
    unicode-range: U+0030—003A;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    color: #333;
    background: #444;
    overflow-x: hidden;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
}
.button {
    display: inline-block;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 4px;
    background: #295cb3;
}
article .button,
header.small .button {
    margin-top: 20px;
    float: right;
}
header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
h2,
h3 {
    font-weight: 100;
}
h2 {
    font-size: 8em;
}
h3 {
    font-size: 2.2em;
    margin-bottom: 20px;
}
.video-ext-container {
    height: 0;
    position: relative;
    z-index: -10;
}
.video-container {
    top: -50%;
    left: -50%;
    width: 200vw;
    height: 200vh;
    overflow: hidden;
}
video {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    position: relative;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
header.small {
    text-align: left;
    position: fixed;
    display: block;
    height: 15vh;
    padding: 15px 50px;
    top: 0;
    vertical-align: bottom;
    z-index: 10;
    background: #f7f7f7;
    color: #333;
}
header.small > * {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    transition: .4s;
}
header.small img {
    height: 4em;
}
header.small h2 {
    font-size: 2.5em;
}
header.small h3 {
    font-size: 0;
}
header.small div {
    margin-top: 20px;
}
article {
    padding: 2vh 5vw;
    line-height: 1.25;
    z-index: 0;
    background: #f7f7f7;
}
section {
    padding: 20px 0;
}
h4 {
    font-size: 1.5em;
    margin-bottom: 5px;
    max-width: 75vw;
}
#repolist {
    list-style: none;
    padding: 50px;
}
#repolist li {
    min-height: 70px;
    padding: 20px 0;
    border-bottom: dotted 1px grey;
}
#repolist li:last-child {
    border-bottom: 0;
}
#repolist li > * {
    display: inline-block;
    vertical-align: middle;
}
footer {
    padding: 50px;
    background: #f7f7f7;
}
@media (max-width: 600px) {
    .video-ext-container,
    .video-container,
    video {
        display: none;
    }
    body {
        background: #f7f7f7;
    }
    header {
        height: auto;
        color: #333;
    }
    header img {
        display: none;
    }
    h2 {
        font-size: 3em;
        margin: 20px 0;
    }
    h3 {
        display: none;
    }
    p {
        line-height: 1.5;
    }
    #repolist {
        padding: 0;
    }
    #repolist li {
        margin: 30px 20px;
    }
    #repolist p {
        margin-bottom: 10px;
    }
}